/* FUENTES UTILIZADAS 

font-family: 'Quicksand', sans-serif;
font-family: 'Strait', sans-serif;

*/

*
{
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	margin: 0 auto;
	text-decoration: none;
}


body
{
	text-align: center;
}

img, video, object { max-width:100%; }

header
{
	background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	border-bottom: .5em solid #FF8000;
	text-align: left;
	padding-bottom: 0.5em;
}

nav
{
	font-size: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-left: 7em;
}

nav li
{
	margin-left: 0.85em;

}

nav ul li
{
	display: inline-block;
}

nav ul li a
{
	font-family: 'Strait', sans-serif;
}

nav ul li a:hover
{
	color: #FF8000;
	border-bottom: .3em solid #FF8000;
	text-shadow: 2px 2px 2px #000;
    filter: dropshadow(color=#000, offx=2, offy=2);
}
nav ul li a:link
{
	color: #fff;
}

nav ul li a:visited
{
	color: #fff;
}

footer
{
	background: #333;
	height: 22em;
}

a.activo
{
	color: #FF8000;
	border-bottom: .3em solid #FF8000;
	text-shadow: 2px 2px 2px #000;
    filter: dropshadow(color=#000, offx=2, offy=2);
}

#ini:before
{
	content: url(../img/home.png);
	display: block;
}
#who:before
{
	content: url(../img/notepad.png);
	display: block;
}
#con:before
{
	content: url(../img/gear.png);
	display: block;
}
#gal:before
{
	content: url(../img/gallery.png);
	display: block;
}
#ctc:before
{
	content: url(../img/contact.png);
	display: block;
}

#galeriaquery
{
	background-image: url(../img/fondogaleria.jpg);
	
}

#galeriaquery p
{
	vertical-align: middle;
}

#logo
{
	margin-left: 1.2em;
	/*position: absolute;
	top: 0;*/
	vertical-align: middle;
	width: 25%;
}

#multimedia
{
	background: #D8D8D8;
	height: 22em;
}