/* FUENTES UTILIZADAS 

font-family: 'Quicksand', sans-serif;
font-family: 'Strait', sans-serif;

*/

*
{
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	margin: 0 auto;
	text-decoration: none;
}


body
{
	text-align: center;
}

img, video, object { max-width:100%; }

header
{
	background-image: url(../img/stripe.png);
	border-bottom: .5em solid #FF8000;
	text-align: left;
	padding-bottom: 0.5em;
	padding-top: 0.3em;
}

nav
{
	font-size: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-left: 7em;
}

nav li
{
	margin-left: 0.85em;

}

nav > ul li
{
	display: inline-block;
}

nav ul li a
{
	font-family: 'Strait', sans-serif;
}

nav ul li a:hover
{
	color: #FF8000;
	border-bottom: .3em solid #FF8000;
}
nav ul li a:link
{
	color: #fff;
}

nav ul li a:visited
{
	color: #fff;
}

footer
{
	background: #333;
	height: 22em;
}

    a#tooltip
{
	color: #FF8000;
	border-bottom: .3em solid #FF8000;
}

/* Activo Tooltip */
    a.tooltip > span 
    {
	    min-width:3em;
	    padding: 1em;
	    margin-top: 2em;
	    margin-left: -85px;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 10;	   
	    position: absolute;

	    
	    font-size: 0.8em;
	    font-family: 'Strait', sans-serif;  
        	    
	    -webkit-border-radius: .4em;
	    -moz-border-radius: .4em;
	    -o-border-radius: .4em;
	    border-radius: .4em;
	    
	    
        -webkit-box-shadow: 2px 2px 2px #999;
	    -moz-box-shadow: 2px 2px 2px #999;		
	    box-shadow: 2px 2px 2px #999;	    
	    
	    -webkit-transition-property:opacity, margin-top, visibility, margin-left;
	    -webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -moz-transition-property:opacity, margin-top, visibility, margin-left;
	    -moz-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -o-transition-property:opacity, margin-top, visibility, margin-left;
	    -o-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    transition-property:opacity, margin-top, visibility, margin-left;
	    transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    }
    
    /*a.tooltip > span:hover,*/
	a.tooltip:hover > span
	{
		opacity: 1;
		text-decoration:none;
		visibility: visible;
		overflow: visible;
		margin-top:1.5em;		
		display: inline;
		margin-left: -3em;		
	}

	a.tooltip span b {
    
		width: 15px;
		height: 15px;
		margin-left: 20px;
		margin-top: -19px;
			
		display: block;
		position: absolute;

		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
			
		-webkit-box-shadow: inset -1px 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		-o-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
			
		display: none\0/;
		*display: none;
	}
    
a.tooltip > span {
	color: #FFFFFF; 

	background: #FF3300;
	background: -moz-linear-gradient(top, #FF3300 0%, #FF6600 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF3300), color-stop(100%,#FF6600));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF3300', endColorstr='#FF6600',GradientType=0 );
	    
	border: 2px solid #FFFFFF;	     
}    
	  
a.tooltip span b {
	background: #FF3300;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
}    
/* fin tooltip */


#ini:before
{
	content: url(../img/home.png);
	display: block;
}
#who:before
{
	content: url(../img/notepad.png);
	display: block;
}
#con:before
{
	content: url(../img/gear.png);
	display: block;
}
#gal:before
{
	content: url(../img/gallery.png);
	display: block;
}
#ctc:before
{
	content: url(../img/contact.png);
	display: block;
}

/* Submenu */

nav li#gal ul
{
	background: #222;
	display: none;
	position: absolute;
	min-width: 2em;
	height: auto;
	padding: .5em;
	opacity: .9;
	z-index: 999;
	-webkit-box-shadow:  2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  2px 2px 5px 1px rgba(0, 0, 0, 0.3);

}

nav li#gal ul li
{
	display: block;
	text-align: left;
	-webkit-transition: all 2s ease-in;
		-moz-transition: all 2s ease-in;
        -ms-transition: all 2s ease-in;
        -o-transition: all 2s ease-in;
		transition: all 2s ease-in;
}

nav li#gal:hover >ul
{
	display: block;
}

#galeriaquery
{
	background-image: url(../img/fondogaleria.jpg);
	
}

#galeriaquery p
{
	vertical-align: middle;
}

#logo
{
	margin-left: 1.2em;
	/*position: absolute;
	top: 0;*/
	vertical-align: middle;
	width: 25%;
}

#multimedia
{
	background: #fff;
	background-image: url(../img/fondo2.png);
	border-top: .5em #333 solid;
	height: 22em;
}